Source: kano-vnc
Maintainer: Team Kano <dev@kano.me>
Section: utils
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>=9.0.0), gettext

Package: kano-vnc
Architecture: all
Depends: ${misc:Depends}, x11vnc, libkdesk-dev, kano-settings (>=2.0-3), gettext
Suggests: kano-profile
Description: Simple VNC server wrapper
 Allows really simple toggling of the tightvncserver.

Package: kano-vnc-i18n-orig
Architecture: all
Description: Data for working on translations of kano-vnc
Multi-Arch: foreign
